<% title = local_assigns.fetch(:title, false) %>
<% action = local_assigns.fetch(:action, false) %>
<% body = local_assigns.fetch(:body, false) %>
<% notification = local_assigns.fetch(:notification, nil) %>

<li id="<%= dom_id(notification) if notification %>" class="notification">
  <% if title %>
    <%= link_to local_assigns.fetch(:link) do %>
      <p>
        <% if notification && notification.notifiable_action %>
          <em>
            <%= t("notifications.index.#{notification.notifiable_action}",
                  count: notification.counter) %>
          </em>
        <% end %>
        <strong><%= title %></strong>
        <% if body %>
          <p><%= body %></p>
        <% end %>
      </p>
      <p class="time"><%= l local_assigns.fetch(:timestamp), format: :datetime %></p>
    <% end %>
  <% else %>
    <p>
      <strong>
        <%= t("notifications.index.notifiable_hidden") %>
      </strong>
    </p>
  <% end %>
</li>
