<header class="header">
  <div class="top-links">
    <div class="expanded row">
      <%= render "shared/locale_switcher" %>
    </div>
  </div>

  <div class="expanded row admin-top-bar">
    <div class="title-bar" data-responsive-toggle="responsive_menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive_menu"></button>
      <div class="title-bar-title"><%= t("application.menu")%></div>
    </div>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">
            <h1>
              <%= link_to namespaced_root_path do %>
                <%= setting["org_name"] %>
                <br><small><%= namespaced_header_title %></small>
              <% end %>
            </h1>
          </li>
        </ul>
      </div>

      <div id="responsive_menu" class="top-bar-right">
        <ul class="dropdown menu" data-responsive-menu="medium-dropdown">
          <%= render "admin/shared/admin_shortcuts" %>
          <%= render "layouts/notification_item" %>

          <li class="has-submenu">
            <%= link_to "#", rel: "nofollow", class: "hide-for-small-only" do %>
              <strong><%= current_user.name %></strong>
            <% end %>

            <ul class="submenu menu vertical" data-submenu>
              <%= render "devise/menu/login_items" %>
              <%= render "shared/admin_login_items" %>
              <li class="sign-out">
                <%= link_to t("devise_views.menu.login_items.logout"),
                            destroy_user_session_path, rel: "nofollow", method: :delete, class: "sign-out" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
